/*-----------------------------------*\
    PLANO
\*-----------------------------------*/

.plano {
    position: relative;
    padding: 10px;
    border: 1px solid #95a4a5;

    font-size: 1.4rem;
}

.plano--mais-popular::after{
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 0 10px;
    background-color: #8B0000;
    color: white;
    font-size: 0.7142em; /* = 10px */
    line-height: 2.5;
    content: "MAIS POPULAR";
}

.plano__cabecalho {
    background-color: #95a4a5;
    color: white;
    text-align: center;
    line-height: 2.5;
    margin: -10px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 2em;
}

.plano__preco {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.plano__caracteristicas {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1em;
}

.plano__caracteristicas > li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}

/*-----------------------------------*\
    BOTAO
\*-----------------------------------*/

.botao {
    display: inline-block;
    background-color: #bbb;
    color: whitesmoke;
    padding: 0.8em 1.2em;
    text-decoration: none;
    font-size: 1em;
    line-height: normal;
    border: none; 
}

.botao:hover, .botao:focus {
    background-color: #aaa;
    text-decoration: none;
    color: whitesmoke;
}

.botao--assinar, .botao--login{
    background-color: green;
}

.botao--assinar:hover, .botao--assinar:focus,
.botao--login:hover, .botao--login:focus{
    background-color: darkgreen;
}

.botao--principal{
    background-color: #000080;
}

.botao--principal:hover, .botao--principal:focus{
    background-color: #00008B;
} 




/*-----------------------------------*\
    CHAMADA
\*-----------------------------------*/

.chamada{
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo{
    margin: 0;
    color: white;
    font-size: 3.375em; 
    line-height: 0.9;
    text-shadow: 1.5px 1px #313131;
}

.chamada__subtitulo{
    margin: 60px 0;
    color: white;
    font-size: 1em;
}

.chamada__acao{
    font-size: 1em;
}

@media(min-width: 992px){
    .chamada{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2.2rem;
    }
}


/*-----------------------------------*\
    DEPOIMENTO
\*-----------------------------------*/

.depoimento{
    font-size: 2.2rem;
}

@media(min-width: 992px){
    .depoimento{
        padding-left: 15%;
        padding-right: 15%;
        font-size: 2.8rem;
    }
}

.depoimento > blockquote{
    position: relative;
    margin: 0;
    margin-left: 10px;
    padding: 0 60px;
    text-align: center; 
    font-size: 1em;
}

.depoimento > blockquote::before{
    position: absolute;
    left: 0;
    top: -0.35em;
    color: #c0c0c0;
    font-size: 8em;
    content: "\201C";
}

.depoimento__autor{
    margin-top: 40px;
    text-align: center;
    font-size: 0.7272em;
}

.depoimento__autor > img{
    border-radius: 50%;
}

.depoimento__autor > p {
    margin-top: 10px;
}

/*-----------------------------------*\
    NAVEGACAO
\*-----------------------------------*/

.navegacao{

}

.navegacao__menu{
    float: right;
}


/*-----------------------------------*\
    HAMBURGUER
\*-----------------------------------*/

.hamburguer{
    position: relative;
    top: 30px;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
}

.hamburguer::before, .hamburguer::after{
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hamburguer::before{
    top: -10px;
}

.hamburguer::after{
    bottom: -10px;
}

@media(min-width: 992px){
    .hamburguer{
        display: none;
    }
}

/*-----------------------------------*\
    MENU
\*-----------------------------------*/

.menu{
    margin: 0;
    font-size: 1.4rem;
    list-style: none;
}

@media(max-width: 991px){
    .menu{
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
        width: 200px;
        background-color: #DCDCDC;
        border-right: 1px solid #eee; 
    }

    /* classe de estado */
    .menu.esta-exibindo{
        display: block;
    }

    .menu__item{
        display: block;
        line-height: 3;
    }
    
    .menu__item--botao{
        margin-top: 20px;
    }
}

@media(min-width: 992px){
    .menu__item{
        display: inline-block;
        padding-right: 20px;
    }

    .menu__item:last-of-type{
        padding-right: 0px;
    }
}

.menu__hamburguer{
    cursor: pointer;
}


/*-----------------------------------*\
    TITULO-FORMULARIO
\*-----------------------------------*/

.titulo-formulario{
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    font-size: 2.6rem;
    font-weight: normal;
    color: #004b86;
}


/*-----------------------------------*\
    GRUPO-ENTRADA
\*-----------------------------------*/

.grupo-entrada{
    margin-bottom: 15px;
}

.grupo-entrada > label{
    display: block;
    font-weight: bold;
}




/*-----------------------------------*\
    CAMPO
\*-----------------------------------*/

.campo{
    display: block;
    width: 100%;
    height: 2.8em;
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}







