.layout-cabecalho {
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    line-height: 60px;
}

.layout-cabecalho--home{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}



.layout-planos{
    padding: 80px 0;
}

.layout-chamada{
    padding: 80px 0;
    margin-top: 60px;
    background-color: #228B22;
}

.layout-depoimento{
    padding: 80px 0;
    background-color: #D3D3D3;
}

.layout-rodape{
    padding: 40px 0;
    background-color: #484848;
    color: white;
    text-align: center;
}

@media(max-width: 749px){
    .layout-planos .row > div:not(.ultima-coluna){
        margin-bottom: 40px;
    }
}

.layout-assinatura{
    padding: 40px 0;
}